.form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 20px;
}

.form input[type=submit]{
    padding: 5px;
}

.form input[type=number]{
    padding: 5px;
}

.form label{
    margin-top: 6px;
}