.form{
    display: flex;
    flex-direction: column;
}

.form label {
    margin-bottom: 5px;
    margin-top: 10px;
}

.form input[type=submit]{
    margin-top: 10px;
}

.checkbox{
    width: 20px;
    height: 20px;
}